body {
    margin: 0px;

}

main {
    padding-left: 15px;
}

.navbar ul {
    list-style-type: none;
    background-color: rgb(12, 71, 122);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: flex;
    text-align: center;

}

.navbar a:hover {
    background-color: rgb(107, 169, 210);
    border-radius: 15px;
    color: black;
}

.navbar li {
    float: left;
    margin-left: 20px;
}